@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
* {
  margin: 0px;
  padding: 0px;
  caret-color: transparent;
}

a {
  text-decoration: none;
}

html,
body {
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
}

header {
  opacity: 0;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: right;
  width: 100%;
  height: 4rem;
  background: linear-gradient(13.98deg, #52e5e7 -231.03%, #130cb7 257.89%);
  transition: opacity 2s;
  z-index: 2;
}
header nav {
  height: 100%;
  margin-right: 7.5rem;
}
header nav ul {
  display: flex;
  list-style-type: none;
  height: 100%;
}
header nav ul li {
  font-family: "Poppins";
  font-weight: 500;
  display: flex;
  align-items: center;
  margin: 2rem;
  font-size: 1.2rem;
}
header nav ul li a {
  text-decoration: none;
  color: #fafafa;
}

body #container #background {
  width: 95%;
  height: 550px;
  margin: 2rem;
  margin-top: 3rem;
  background: linear-gradient(322.87deg, #52e5e7 -13.69%, #130cb7 90.12%);
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
body #container #background #info {
  display: flex;
  justify-content: space-between;
  width: 80%;
  height: 60%;
}
body #container #background #info img {
  border-radius: 175px;
}
body #container #background #info img:hover {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  transition: filter 300ms;
}
body #container #background #info #info-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 50%;
}
body #container #background #info #info-text #basic-infos {
  margin-top: 4rem;
}
body #container #background #info #info-text #basic-infos h1 {
  font-family: "Poppins";
  text-align: center;
  color: #fafafa;
  font-family: "Poppins";
  font-weight: 700;
  transition-delay: 1s;
}
body #container #background #info #info-text #basic-infos h2 {
  font-family: "Poppins";
  text-align: center;
  color: #fafafa;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 1.2rem;
}
body #container #background #info #info-text #buttons {
  display: flex;
  justify-content: space-between;
  width: 70%;
}
body #container #background #info #info-text #buttons button {
  font-family: "Poppins";
  font-weight: 500;
  background: #d9d9d9;
  border-radius: 100px;
  height: 2rem;
  width: 8rem;
  cursor: pointer;
}
body #container #background #info #info-text #buttons button:hover {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  transition: filter 300ms;
}
body #container #background #info #info-text #buttons a {
  color: black;
}
body #container-2 {
  display: flex;
  width: 100%;
  justify-content: center;
}
body #container-2 #background {
  display: flex;
  width: 85%;
  height: 400px;
  box-shadow: 0px 4px 10px 10px rgba(0, 0, 0, 0.2);
}
body #container-2 #background #side-1 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 50%;
}
body #container-2 #background #side-1 h1 {
  font-family: "Poppins";
  font-weight: 700;
  text-align: center;
  color: black;
  margin-top: 4rem;
}
body #container-2 #background #side-1 p {
  font-family: "Poppins";
  font-weight: 500;
  margin: 3rem;
  text-align: justify;
  font-size: 1rem;
}
body #container-2 #background #side-2 {
  font-family: "Poppins";
  font-weight: 700;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
body #container-2 #background #side-2 h1 {
  text-align: center;
  color: black;
  width: 100%;
  margin-top: 3rem;
}
body #container-2 #background #side-2 .row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
body #container-2 #background #side-2 .row .answer {
  width: 100%;
  text-align: right;
  margin-right: 5rem;
}
body #container-3 {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  margin-top: 3.5rem;
  align-items: center;
}
body #container-3 h1 {
  font-family: "Poppins";
  font-weight: 700;
  text-align: center;
  margin: 1.5rem;
}
body #container-3 #background {
  display: flex;
  width: 85%;
  height: 400px;
  box-shadow: 0px 4px 10px 10px rgba(0, 0, 0, 0.2);
}
body #container-3 #background #side-1,
body #container-3 #background #side-2 {
  font-family: "Poppins";
  font-weight: 500;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
body #container-3 #background #side-1 #container,
body #container-3 #background #side-2 #container {
  width: 90%;
  margin: 0.8rem;
}
body #container-3 #background #side-1 #container .row-div,
body #container-3 #background #side-2 #container .row-div {
  display: flex;
  justify-content: space-between;
}
body #container-3 #background #side-1 #container progress,
body #container-3 #background #side-2 #container progress {
  width: 100%;
}
body #container-3 #background #side-2 {
  justify-content: flex-start;
}
body #container-4 {
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 4rem;
}
body #container-4 h1 {
  font-family: "Poppins";
  font-weight: 700;
  margin: 2rem;
}
body #container-4 #container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, #92ffc0 0%, #002661 100%);
}
body #container-4 #container #left-side {
  height: 100%;
  width: 33.3333333333%;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}
body #container-4 #container #left-side .arrow {
  height: 64px;
  margin: 1rem;
  transform: scaleX(-1);
}
body #container-4 #container #left-side .arrow:hover {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  cursor: pointer;
}
body #container-4 #container #mid {
  height: 100%;
  display: flex;
}
body #container-4 #container #mid img {
  height: 100%;
  max-height: 500px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  z-index: 1;
}
body #container-4 #container #right-side {
  height: 100%;
  width: 33.3333333333%;
  display: flex;
  align-items: center;
}
body #container-4 #container #right-side .arrow {
  height: 64px;
  margin: 1rem;
}
body #container-4 #container #right-side .arrow:hover {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  cursor: pointer;
}
body #container-4 p {
  font-family: "Poppins";
  font-weight: 500;
  width: 700px;
  font-size: 0.9rem;
}
body #container-5 {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  margin-top: 4rem;
}
body #container-5 h1 {
  font-family: "Poppins";
  font-weight: 700;
  text-align: center;
}
body #container-5 #container {
  width: 80%;
  height: 190px;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 2rem;
}
body #container-5 #container img {
  height: 128px;
}
body #container-6 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body #container-6 h1 {
  font-family: "Poppins";
  font-weight: 700;
  text-align: center;
  margin: 1rem;
}
body #container-6 #container {
  width: 80%;
  display: flex;
  flex-direction: row;
}
body #container-6 #container #bar {
  height: 65px;
  width: 93%;
  background-color: #d9d9d9;
}
body #container-6 #container #bar #curso {
  margin: 0.8rem;
  margin-left: 1.5rem;
}
body #container-6 #container #bar #curso #title {
  font-family: "Poppins";
  font-weight: 700;
}
body #container-6 #container #bar #curso #sub-title {
  font-family: "Poppins";
  font-weight: 500;
  font-size: smaller;
  color: #4b4b4b;
}
body #container-6 #container #blue-cube {
  height: 65px;
  width: 65px;
  background-color: #0066ff;
}
body #container-6 #container div#blue-cube.certified:hover {
  background-color: #0043a9;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  transition: 300ms;
}
body #container-7 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body #container-7 h1 {
  font-family: "Poppins";
  font-weight: 700;
  text-align: center;
  margin: 1rem;
}
body #container-7 #container {
  width: 80%;
  display: flex;
  flex-direction: row;
}
body #container-7 #container #bar {
  height: 65px;
  width: 93%;
  background-color: #d9d9d9;
}
body #container-7 #container #bar #curso {
  margin: 0.8rem;
  margin-left: 1.5rem;
}
body #container-7 #container #bar #curso #title {
  font-family: "Poppins";
  font-weight: 700;
}
body #container-7 #container #bar #curso #sub-title {
  font-family: "Poppins";
  font-weight: 500;
  font-size: smaller;
  color: #4b4b4b;
}
body #container-7 #container #blue-cube {
  height: 65px;
  width: 65px;
  background-color: #0066ff;
}
body #container-7 #container div#blue-cube.certified:hover {
  background-color: #0043a9;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  transition: 300ms;
}/*# sourceMappingURL=style.css.map */