@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

@mixin texts() {
    font-family: "Poppins";
    text-align: center;
    color: #fafafa;
}

@mixin poppinsMedium() {
    font-family: 'Poppins';
    font-weight: 500;
}

@mixin poppinsBold() {
    font-family: 'Poppins';
    font-weight: 700;
}

@mixin defaultBackground() {
    display: flex;
    width: 85%;
    height: 400px;
    box-shadow: 0px 4px 10px 10px rgba(0, 0, 0, 0.2);
}

@mixin bar_cursos () {
    #container {
        width: 80%;
        display: flex;
        flex-direction: row;

        #bar {
            height: 65px;
            width: 93%;
            background-color: #D9D9D9;

            #curso {
                margin: 0.8rem;
                margin-left: 1.5rem;

                #title {
                    @include poppinsBold();
                }

                #sub-title {
                    @include poppinsMedium();
                    font-size:smaller;
                    color: #4B4B4B;
                }
            }
        }

        #blue-cube {
            height: 65px;
            width: 65px;
            background-color: #0066FF;
        }
    }
}

* {
    margin: 0px;
    padding: 0px;
}

html,
body {
    height: 100%;
    width: 100%;
}

header {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: right;
    width: 100%;
    height: 4rem;
    background: linear-gradient(13.98deg, #52e5e7 -231.03%, #130cb7 257.89%);

    nav {
        height: 100%;
        margin-right: 7.5rem;

        ul {
            display: flex;
            list-style-type: none;
            height: 100%;

            li {
                @include poppinsMedium();
                display: flex;
                align-items: center;
                margin: 2rem;
                font-size: 1.2rem;
                color: #fafafa;
            }
        }
    }
}

body {
    #container {
        #background {
            width: 95%;
            height: 550px;
            margin: 2rem;
            margin-top: 3rem;
            background: linear-gradient(322.87deg, #52e5e7 -13.69%, #130cb7 90.12%);
            border-radius: 40px;
            display: flex;

            align-items: center;
            justify-content: center;

            #info {
                display: flex;
                justify-content: space-between;
                width: 80%;
                height: 60%;

                img {
                    border-radius: 175px;
                }

                #info-text {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: center;
                    width: 50%;

                    #basic-infos {
                        margin-top: 4rem;

                        h1 {
                            @include texts();
                            @include poppinsBold();
                        }

                        h2 {
                            @include texts();
                            @include poppinsMedium();
                            font-size: 1.2rem;
                        }
                    }

                    #buttons {
                        display: flex;
                        justify-content: space-between;
                        width: 70%;

                        button {
                            @include poppinsMedium();
                            background: #d9d9d9;
                            border-radius: 100px;
                            height: 2rem;
                            width: 8rem;
                        }
                    }
                }
            }
        }
    }

    #container-2 {
        display: flex;
        width: 100%;
        justify-content: center;

        #background {
            @include defaultBackground();

            #side-1 {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                width: 50%;
                
                h1 {
                    @include poppinsBold();
                    text-align: center;
                    color:black;
                    margin-top: 4rem;
                }

                p {
                    @include poppinsMedium();
                    margin: 3rem;
                    text-align: justify;
                    font-size: 1rem;
                }
            }

            #side-2 {
                @include poppinsBold();
                width: 50%;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;

                h1 {
                    text-align: center;
                    color:black;
                    width: 100%;
                    margin-top: 3rem;
                }

                .row {
                    display: flex;
                    flex-direction: row;

                    .answer {
                        width: 100%;
                        text-align: center;
                    }
                }
            }
        }
    }

    #container-3 {
        display: flex;
        width: 100%;
        justify-content: center;
        flex-direction: column;
        margin-top: 3.5rem;
        align-items: center;

        h1 {
            @include poppinsBold();
            text-align: center;
            margin: 1.5rem;
        }

        #background { 
            @include defaultBackground();

            #side-1, #side-2 {
                @include poppinsMedium();
                width: 50%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                
                #container {
                    width: 90%;
                    margin: 0.8rem;

                    .row-div {
                        display: flex;
                        justify-content: space-between;
                    }

                    progress {
                        width: 100%;
                    }
                }
            }

            #side-2 {
                justify-content: flex-start;
            }

        }
    }

    #container-4 {
        width: 100%;
        height: max-content;
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: 4rem;

        h1 {
            @include poppinsBold();
            margin: 2rem;
        }

        #container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            height: 100%;
            background: linear-gradient(135deg, #92FFC0 0%, #002661 100%);;

            #left-side {
                height: 100%;
                width: calc(100%/3);
                display: flex;
                align-items: center;
                flex-direction: row-reverse;

                .arrow {
                    height: 64px;
                    margin: 1rem;
                    transform: scaleX(-1);
                }

                .arrow:hover {
                    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
                    cursor: pointer;
                }
            }

            #mid {
                height: 100%;
                
                img {
                    height: 100%;
                    max-height: 300px;
                    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
                }
            }

            #right-side {
                height: 100%;
                width: calc(100%/3);
                display: flex;
                align-items: center;

                .arrow {
                    height: 64px;
                    margin: 1rem;
                }

                .arrow:hover {
                    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
                    cursor: pointer;
                }
            }
        }

        p {
            @include poppinsMedium();
            text-align: justify;
            width: 550px;
            font-size: 0.9rem;
        }
    }

    #container-5 {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        margin-top: 4rem;
        
        h1 {
            @include poppinsBold();
            text-align: center;
        }

        #container {
            width: 80%;
            height: 190px;
            box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin: 2rem;

            img {
                height: 128px;
            }
        }
    }

    #container-6 {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        h1 {
            @include poppinsBold();
            text-align: center;
            margin: 1rem;
        }

        @include bar_cursos();
    }

    #container-7 {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        h1 {
            @include poppinsBold();
            text-align: center;
            margin: 1rem;
        }
        
        @include bar_cursos();
    }
}
